@keyframes tt-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tt-viewfinder-loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .tt-viewfinder-loading-spinner {
        animation: tt-spin 3s linear infinite;
    }

    .tt-viewfinder-loading-text {
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
}